*{
    margin: 0;
    padding: 0;
}
.w{
    margin: 0 auto;
    width: 960px;
}
.z{
    float: left;
}
.y{
    float: right;
}
.clear{
    clear: both;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
.top{
    background-color:#499ef3 ;
    height: 60px;
}
.nav h1{
    line-height: 60px;
    position: relative;
}
.nav h1 a{
    height: 37px;
    width: 60px;
    display: block;
    text-align: center;
    text-decoration: none;
    /*background:url("../img/logo.png")no-repeat top center;*/
    text-indent: -999999px;
}
.nav img{
    position: absolute;
    top: 15px;
    left: 0;
    cursor: pointer;
}
.search{
    width: 287px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
}
.search input{
    width: 250px;
    height: 40px;
    border: none;
    /*border-radius: 3px;*/
    outline: none;
    float: left;
    color: red;
}
.search button{
    width: 37px;
    height: 40px;
    border: none;
    outline: none;
    float: left;
    background-color: #843534;
    color: #f9f9f9;
    cursor: pointer;
    /*border-radius: 3px;*/
}
.nav .state{
    width: 250px;
    height: 60px;
    /*background-color: #0EA9B1;*/
    margin-left: 10px;
    line-height: 60px;
}
.nav .state a{
    text-decoration: none;
}
.nav .state ul li{
    /*background-color: #478df3;*/
    margin-left: 5px;
}
.selectColour{
    width: 78px;
    height: 58px;
    /*background-color: #478df3;*/
    background-color: #478df3;
}
/*.nav .state a .find ,.selectColour{
    width: 80px;
    height: 60px;
    background-color: #478df3;
}*/
.nav .state a .find{
    width: 80px;
    height: 60px;
    color: #f9f9f9;
    text-align: center;
    font-size: 18px;
    /*background-color: #478df3;*/
}
.nav .state a .topic{
    width: 80px;
    height: 60px;
    color: #f9f9f9;
    text-align: center;
    font-size: 18px;
    /*background-color: #478df3;*/
}
.nav .state a .more{
    width: 80px;
    height: 60px;
    color: #f9f9f9;
    text-align: center;
    font-size: 18px;
    /*background-color: #478df3;*/
}
.nav .peoplestatic{
    width: 300px;
    height: 60px;
    /*background-color: #843534;*/
    margin-left: 30px;
}
.peoplestatic ul li{
    float: right;
}
.aimg a{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../img/avatar-min-img.png")no-repeat;
    margin-top: 15px;
    cursor: pointer;
}
.peoplestatic li button{
    width: 80px;
    height: 32px;
    border: 0;
    outline: 0;
    background-color: #478df3;
    color: #f9f9f9;
    line-height: 32px;
    border-radius: 3px;
    margin: 15px 4px 0;
    cursor: pointer;
}
