<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>图书管理系统学生登录界面</title>
	<link rel="stylesheet" href="css/stu_login.css">
</head>
<body>
<div class="top_header">
	<h1 class="top_title">图书管理系统统一身份认证平台</h1>
</div>
<form action="../../../index.php" method="post" enctype="multipart/form-data">
	<div class="login_frame">
		<div class="user_login">学 生 登 录</div>
		<div class="number_frame">
			<label for="number">账号:</label>
			<input type="text" name="number" class="number" id="number">
		</div>
		<div class="pass_frame">
			<label for="password">密码:</label>
			<input type="password" name="password" class="password" id="password">
		</div>
		<div class="btn">
			<button class="login" type="submit">登录</button>
			<div class="register_frame">
				<span class="no_num">没有账号？</span>
				<button class="register" name="register" id="register" type="submit">注册</button>
			</div>
		</div>
	</div>
</form>
</body>
</html>